name = "vmail"
main = "worker/src/index.ts"

# 打包配置
minify = true
compatibility_flags = [ "nodejs_compat" ]
compatibility_date = "2025-03-01"
keep_vars = true

# 启用 D1 数据库
[[d1_databases]]
binding = "DB"
database_name = "vmail"
database_id = "b0bbf750-b563-49ba-ae03-4687503ed4a4"
# fix: 将迁移目录直接配置在这里，这是 D1 自动迁移的标准做法
migrations_dir = "worker/drizzle"

# 定义环境变量和密钥
[vars]
EMAIL_DOMAIN = "dawuls.com"
TURNSTILE_KEY = "0x4AAAAAACM_jYKkxDfVfhC7"
COOKIES_SECRET = "ANqEYzCuAoftWf5wbLvN2qrETigHwZx/da/B1D7dFCY="
TURNSTILE_SECRET = "0x4AAAAAACM_jVtDrktz_XnG0HgtF0Rna0Q"

# 配置邮件处理
[triggers]
crons = ["0 * * * *"] # 每小时运行一次清理任务

# Email Worker 绑定（接收邮件）
[email]
name = "vmail"

# 构建配置
[build]
command = "pnpm run build"

# 静态资源配置
[assets]
binding = "ASSETS"
directory = "frontend/build/client"